<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>RedLine inventory</title>
    <link rel="shortcut icon" href="/img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="css/templatemo-style.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="img/1logo.png" alt="Logo" class="tm-site-logo" style="width: 200px;" />

                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                                <li class="tm-nav-li"><a href="https://redline.net.co/" class="tm-nav-link">About</a>
                                </li>
                                <li class="tm-nav-li"><a href="/contact" class="tm-nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Bienvenido a la</h2>
                <p class="col-12 text-center"></p>
            </header>
            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="/login" class="tm-paging-link active">Ingresar a la plataforma de inventario</a></li>
                    </ul>
                </nav>
            </div>

        </main>
        <footer class="tm-footer text-center">
            <p>Copyright &copy; 2021 RedLine
                | Design: <a rel="nofollow" href="https://github.com/flipgamership">Juan felipe correa</a></p>
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
</body>

</html>