<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="shortcut icon" href="/img/favicon.png">
  <title>inventario de Herramientas redline</title>
</head>
<%- include('./partials/nav.ejs') %>

<body>
  <div class="container">
    <hr style="margin-top: 80px;">
    <div class="card-group shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" >
            <img src="https://drscdn.500px.org/photo/1037665239/m%3D900/v2?sig=5f8d156846252057e1701baf87b9b249c465785a10af127fa79209db508e9788" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sacar herramientas de la bodega</h5>
              <p class="card-text">aca encontraras la lista de herramientas que se encuentran disponibles para retirar de la bodega </p>
              <a href="/inventarioHerramientasNPRedline" target="" class="btn btn-primary">Retirar herramientas</a>
            </div>
          </div>
        </div>

         <!-- log de la salida y entrada de herramientas -->
        <div class="col-sm-6">
          <div class="card" >
            <img src="https://drscdn.500px.org/photo/1037665317/m%3D900/v2?sig=c2e65b0fcdd6d6c131888add19aa979d07330784c7e4040feaf55e11198fa970" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Debolver herramientas a la bodega</h5>
              <p class="card-text">aca podras devolver la herramienta al sistema y a la bodega </p>
              <a href="/inventarioHerramientasPRedline" class="btn btn-primary">Devolver herramientas prestadas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-sm-15">
      <div class="card" >
        <img src="https://drscdn.500px.org/photo/1038790662/m%3D900/v2?sig=3d355794f933a99d0cb03cdb18140a8b1d18d657c40cb4d204f14e03bf4793ca" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ingresar herramientas nuevas</h5>
          <p class="card-text">aca podras agregar llenando la informacion la nueva herramienta al inventario</p>
          <a href="/newHerramientaInventarioRedline" class="btn btn-primary">Nueva herramienta</a>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>

  <%- include('./partials/footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>