<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="shortcut icon" href="/img/favicon.png">
  <title>inventario de Equipo de seguridad redline</title>
</head>
<%- include('./partials/nav.ejs') %>

<body>
  <div class="container">
    <hr style="margin-top: 80px;">
    <div class="card-group shadow-lg p-3 mb-5 bg-white rounded">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" >
            <img src="https://drscdn.500px.org/photo/1039185890/m%3D900/v2?sig=720e68d1d71e349524cfa3afa3bfd7675136974969bf93121f455dadbf0884b2" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sacar Equipo de seguridad de la bodega</h5>
              <p class="card-text">aca encontraras la lista de equipos de seguridad que se encuentran disponibles para retirar de la bodega </p>
              <a href="/inventoriTableEquipoSeguridadNoPrestadoRedline" target="" class="btn btn-primary">Retirar equipo de seguridad</a>
            </div>
          </div>
        </div>

         <!-- log de la salida y entrada de herramientas -->
        <div class="col-sm-6">
          <div class="card" >
            <img src="https://drscdn.500px.org/photo/1039185705/m%3D900/v2?sig=26029be5cecb7e474e90ac5e1b15fe861590159588208f9d9b5b18d8875dac49" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Devolver equipo de seguridad a la bodega</h5>
              <p class="card-text">aca podras devolver el equipo de seguridad al sistema y a la bodega </p>
              <a href="/inventoriTableEquipoSeguridadPrestadoRedline" class="btn btn-primary">Devolver equipo de seguridad prestadas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-sm-15">
      <div class="card" >
        <img src="https://drscdn.500px.org/photo/1039186268/m%3D900/v2?sig=fb0ebc2705ed8ddd10841a713be8cd30e1366124caf5ef9aef4073828e21ac01" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ingresar equipo de seguridad nuevos</h5>
          <p class="card-text">aca podras agregar llenando la informacion del nuevo equipo de seguridad al inventario</p>
          <a href="/newEquipoDeSeguridadInventarioRedline" class="btn btn-primary">Nuevo equipo de seguridad </a>
        </div>
      </div> 
    </div>
  </div>
</div>
  </div>

  <%- include('./partials/footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>

</html>