<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container" style="margin-top: 80px;">
    <div class="card mb-3 shadow-lg p-3 bg-white rounded">
      <img src="https://drscdn.500px.org/photo/1037190480/m%3D900/v2?sig=546ee7c6afdfe4f65cab1bcc7431829acbc20f5227f3bad4a66f38d3dfdeb6ac" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 18px;"> <i class='bx bxs-phone-outgoing'></i>Reporte de estadistico y visualiza tablas de los reportes</h5>
        <% if (login){ %>
        <p class="card-text" style="font-size: 16px; text-align: center;">Bienvenido querido usuario: <%= name %> aca podras encontrar el menu del apartado de la plataforma estadisticas de telecomunicaciones en el cual encontraras el reporte diaro de las llamadas ralizadas a los clientes a los cuales se les a realizado la llamada</p>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card shadow-lg p-3 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px;">tabla de reporte diario <i class='bx bx-border-all'></i></h5>
            <p class="card-text" style="font-size: 14px; margin-bottom: 51px;">aca podras encontrar la lista de de las estadisticas del reporte de usuarios</p>
            <a href="/telecomunicacionesEstadisticasTable1" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow-lg p-3 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px;">tabla de usuarios interesados en apps y tv <i class='bx bx-list-ul'></i></h5>
            <p class="card-text" style="font-size: 14px; ">aca podras encontrar la tabla de estadisticas de usuarios a los cuales se les a llamado y estan interesados por las apps y la televicion </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-top: 20px;">ingresar</button>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 10px;">
        <div class="row">
          <div class="col-sm-6">
            <div class="card shadow-lg p-3 bg-white rounded">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 16px;">tabla de usuarios que nesesitan soporte tecnico <i class='bx bx-list-ul'></i></h5>
                <p class="card-text" style="font-size: 14px;">aca podras encontrar la tabla de usuarios que nesesitan soporte tecnico segun el reporte diario</p>
                <a href="/telecomunicacionesEstadisticasTable2" class="btn btn-primary">Ingresar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card shadow-lg p-3 bg-white rounded">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 16px;">estadisticas de reportes <i class='bx bxs-pie-chart-alt-2'></i></h5>
                <p class="card-text" style="font-size: 14px; margin-bottom: 31px;">aca podras encontrar la estadisticas de usuarios a los cuales se les a llamado</p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" >ingresar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 16px; ">Selecciona</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px; ">
                <span style="margin-left: 7px; margin-right: 7px;" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <p style="font-size: 14px; "> ¿Que tabla deseas mirar de los usuarios que estan interesados?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 14px; ">Close</button>
              <a type="button" class="btn btn-primary" href="/telecomunicacionesEstadisticasTable4" style="font-size: 14px; ">Los de las apps</a>
              <a type="button" class="btn btn-primary" href="/telecomunicacionesEstadisticasTable5" style="font-size: 14px; ">Los de las tv</a>
              <a type="button" class="btn btn-primary" href="/telecomunicacionesEstadisticasTable3" style="font-size: 14px; ">Ambos</a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 16px; ">Selecciona una fecha</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px; ">
                <span style="margin-left: 7px; margin-right: 7px;" aria-hidden="true">&times;</span>
              </button>
              
            </div>
            <form action="/teleEstadisticasReportDiaGraficosSend" method="POST">
            <div class="modal-body">
              <p style="font-size: 14px; ">porfavor seleccione la fecha desde la cual quiere que se muestre las estadisticas en adelante</p>
             <input type="date" name="fecha" >
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Seleccionar fecha</button>
            </div>
          </form>
          </div>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
          function alert() {
            Swal.fire({
              title: '¿Porfavor verifique que la fecha sea valida sino la plataforma lo tirara hacia atras?',
              icon: 'warning',
              showCancelButton: true,
              cancelButtonText: 'NO',
              cancelButtonColor: '#d33' ,
              confirmButtonColor:'#3085d6' ,
              confirmButtonText: ` SI `,
            }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {
                const value = true
                setTimeout(timeUot, 1000, value);
              } 
            })
          }
          function timeUot (values){
            if(values){
              document.forms[0].submit()
            }
            
          }
        </script>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>