<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form  enctype="multipart/form-data">
    <div>
        <label>Upload profile picture</label>
        <input type="file" name="profile-file" onchange="eleccinarFoto()" required accept="image/jpg, image/png"/>
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

</body>
<script>
  eleccionarFoto(event): void {
        let url = URL.createObjectURL(event.target.files[0]);
        let name = randonName();
        let type = event.target.files[0].type;
        const file = new File([url], name , { type: type })
        crear(file);
    }
crear(archivo: File){

const formData = new FormData();
formData.append('archivo', archivo);

}
</script>

</html>