<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h5>selecione la fecha desde la cual queires ver </h5>
  <form action="/pruebas2" method="POST">
    <input type="date" name="fecha">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</body>
</html>