<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="shortcut icon" href="/img/favicon.png">
  <title>telecomunicaciones</title>
</head>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container" style="margin-top: 80px;">
    <div class="card mb-3 shadow-lg p-3 bg-white rounded">
      <img src="https://drscdn.500px.org/photo/1036899687/m%3D900/v2?sig=30421abc67a134e8051075481b407118342ad0afb2ee49f2efdf821852989b61" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title" style="font-size: 18px;"> <i class='bx bxs-phone-outgoing' ></i> Telecomunicaciones</h5>
        <% if (login){ %>
        <p class="card-text" style="font-size: 16px; text-align: center;">Bienvenido querido usuario: <%= name %>  aca podras encontrar el menu del apartado de la plataforma enpleado a telecomunicaciones en el cual encontraras el reporte diaro de las llamadas ralizadas a los clientes a los cuales se les a realizado la llamada etc</p>
      <% } %> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card shadow-lg p-3 bg-white rounded" >
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px;">Lista de clientes pendientes <i class='bx bx-user-x' style="font-size: 20px;"></i></h5>
            <p class="card-text" style="font-size: 14px;">aca podras encontrar la lista de usuarios a los cuales no se les a realizado llamada o estan pendientes</p>
            <a href="/telecomunicacionesTableClientsP" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow-lg p-3 bg-white rounded">
          <div class="card-body" >
            <h5 class="card-title" style="font-size: 16px;">Lista de clientes al dia <i class='bx bx-user-check' style="font-size: 20px;" ></i></h5>
            <p class="card-text" style="font-size: 14px;">aca podras encontrar la lista de usuarios a los cuales se les a realizado llamada y hay respuesta</p>
            <a href="/telecomunicacionesTableClientsC" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow-lg p-3 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 16px;">Reporte de telecomunicaciones <i class='bx bxs-user-detail' style="font-size: 20px;" ></i></h5>
            <p class="card-text" style="font-size: 14px;">aca podras mirar las estadisticas de telecomunicaciones anuales, semanales o diarios</p>
            <a href="/telecomunicacionesReportDiaMenu" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  
  
    
    <%- include('./partials/footer.ejs') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>