.login{
    background-image: url(https://i.ibb.co/pZdWPHG/banner-bg.png) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    
}
.listaUsuarios{
    background-image: url(https://i.ibb.co/pZdWPHG/banner-bg.png) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}
