.login{
    background-image: url(https://fondosmil.com/fondo/27475.jpg) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    
}
.listaUsuarios{
    background-image: url(https://fondosmil.com/fondo/27475.jpg) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}