.login{
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/montanas-con-nieve-en-el-bosque-3934.jpg?s=large) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    
}
.listaUsuarios{
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/montanas-con-nieve-en-el-bosque-3934.jpg?s=large) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}
