.login{
    background-image: url(https://lh3.googleusercontent.com/PbfalHjj_tnvGeBwOIjMZi3aK-vjFI92s2IGlle-WKmjNGfZUP--EUM85dPc1jW1dGsDfAP8sUPHP7ugNaQRzUs5wOQlCMA3PyV8R_M3VyyjT2dw6QpK1mFxi_BGVKOKqID1MhYxNTffP-QCpvEHA11lKhS-2J5IizU1CviYtiQaOvpBeV5qEl7ptoiFgALiX3F97oqcfCRxUsfGYbmZEjrey-_4FVlv_L6XdCBRfXYD1iMMhQf8aoheBXe7q7WebgZ88-BNOcZC7oFRLZ6k9w4R0TffptLvAADLS00x5vlio_SiitCoyZ-r5Aho0jtX88FRMsthbBZqDPkBwN-LAOqimOkU0hhsoU5wzTCFkgiV59thSPGpL4wKbSGUWHs-hqFmHN3wn8V5uc-LYqb5hNc1dvAZH-WyglY2h1bvu3J1WuluBfN3Z1rRA00HhRxvAkn3tUdcW1iMCBJWur_swZYvExZqDX44ezqpuPgHOdUolEPlUY4_FpBaJ4FFNETBVdw0QNLKCRdinGN4-lliddGjTNX9QJqbQi-j1801JZEihY8U40lCuul2JhdX8_3xmtRVQmbLhWQeRfilXFleKSxJNq5NA5x5IKRODyd6_rBV_H6QWOcfYZwFW_2YQ8_hzSBrui7pI5I7ZzMlwiaCTE0aEctnrwO-N30l_ZzfbPA8PAQ9dn7V8JRUhaKEe9dP-0ZdAsX4DzD49bHB2BL8AFo=w1256-h627-no?authuser=0) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    
}
.listaUsuarios{
    background-image: url(https://lh3.googleusercontent.com/PbfalHjj_tnvGeBwOIjMZi3aK-vjFI92s2IGlle-WKmjNGfZUP--EUM85dPc1jW1dGsDfAP8sUPHP7ugNaQRzUs5wOQlCMA3PyV8R_M3VyyjT2dw6QpK1mFxi_BGVKOKqID1MhYxNTffP-QCpvEHA11lKhS-2J5IizU1CviYtiQaOvpBeV5qEl7ptoiFgALiX3F97oqcfCRxUsfGYbmZEjrey-_4FVlv_L6XdCBRfXYD1iMMhQf8aoheBXe7q7WebgZ88-BNOcZC7oFRLZ6k9w4R0TffptLvAADLS00x5vlio_SiitCoyZ-r5Aho0jtX88FRMsthbBZqDPkBwN-LAOqimOkU0hhsoU5wzTCFkgiV59thSPGpL4wKbSGUWHs-hqFmHN3wn8V5uc-LYqb5hNc1dvAZH-WyglY2h1bvu3J1WuluBfN3Z1rRA00HhRxvAkn3tUdcW1iMCBJWur_swZYvExZqDX44ezqpuPgHOdUolEPlUY4_FpBaJ4FFNETBVdw0QNLKCRdinGN4-lliddGjTNX9QJqbQi-j1801JZEihY8U40lCuul2JhdX8_3xmtRVQmbLhWQeRfilXFleKSxJNq5NA5x5IKRODyd6_rBV_H6QWOcfYZwFW_2YQ8_hzSBrui7pI5I7ZzMlwiaCTE0aEctnrwO-N30l_ZzfbPA8PAQ9dn7V8JRUhaKEe9dP-0ZdAsX4DzD49bHB2BL8AFo=w1256-h627-no?authuser=0) ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}
