<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styleNavar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

  <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
</head>

<body>
  <header class="headerNav">
    <nav class="navbarPrimary">
      <a href="/home" class="navLogo"><img src="img/2logo.png" alt="" width="100px"></a>
      <ul class="navMenu">
          
        <% if (role == 'admin') {%>
        <li class="navItem">
          <a href="/home" class="navLink"><i class='bx bxs-home-circle bx-flip-horizontal'></i> Home</a>
        </li>
        <li class="navItem">
          <a href="/registerTecnico" class="navLink"><i class='bx bxs-home-circle bx-flip-horizontal'></i>registrar tecnicos</a>
        </li>
        <li class="navItem">
          <a href="/register" class="navLink"><i class='bx bx-food-menu'></i> Registrar nuevos Usuarios</a>
        </li>
        <li class="navItem">
          <a href="" class="navLink"><i class='bx bxs-notepad'></i> Cronograma </a>
        </li>

        <li class="navItem">
          <a  data-toggle="modal" data-target="#exampleModal" class="navLink" ><i class='bx bx-food-menu'></i>Logs</a>
        </li>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 16px; ">Selecciona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 20px; ">
                  <span style="margin-left: 7px; margin-right: 7px;" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <p style="font-size: 14px; "> ¿Que logs deseas mirar?</p>
              </div>
              <div class="modal-footer">
                
                <a type="button" class="btn btn-primary" href="/logsHerramientas"  >Logs H <i style="font-size: 14px;" class='bx bx-wrench'></i></a>
                <a type="button" class="btn btn-primary" href="/logsEquipoSeguridad"  >logs  S <i  style="font-size: 14px;" class='bx bx-shield'></i> </a>
                <a type="button" class="btn btn-primary" href="/logsConsumiblesIngreso"  >logs CE <i  style="font-size: 14px;" class='bx bxs-archive-in' ></i> </a>
                <a type="button" class="btn btn-primary" href="/logsConsumiblesSalida"  >logs CS <i  style="font-size: 14px;" class='bx bxs-archive-out'></i></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
              </div>
            </div>
          </div>
        </div>




        <% }else if(role == 'tecnico'){%>
        
          <li class="navItem">
            <a href="/home" class="navLink"><i class='bx bxs-home-circle bx-flip-horizontal'></i> Home</a>
          </li>
          <li class="navItem">
            <a href="/inventarioHerramientasRedline" class="navLink"><i class='bx bxs-box'></i> Inventorio de herramientas</a>
          </li>
          <li class="navItem">
            <a href="/inventarioConsumiblesRedline" class="navLink"><i class='bx bxs-box'></i> inventario de consumibles</a>
          </li>
          <li class="navItem">
            <a href="/menuInventarioEquipoSeduridadRedline" class="navLink"><i class='bx bxs-box'></i> inventario de equipo de seguridad</a>
          </li>
          <li class="navItem">
            <a href="" class="navLink"><i class='bx bxs-notepad'></i> Cronograma </a>
          </li>
  

        <% }else if(role == 'servicioCliente'){%>
        <li class="navItem">
          <a href="/home" class="navLink"><i class='bx bxs-home-circle bx-flip-horizontal'></i> Home</a>
        </li>
        <li class="navItem">
          <a href="/telecomunicaciones" class="navLink"> <i class='bx bxs-phone-outgoing'></i> Telecomunicaciones</a>
        </li>
        <li class="navItem">
          <a href="#" class="navLink"><i class='bx bxs-user'></i> Servicio al cliente</a>
        </li>
        <li class="navItem">
          <a href="#" class="navLink"> <i class='bx bxs-badge-dollar'></i> Registro de pagos</a>
        </li>
        <li class="navItem">
          <a href="" class="navLink"><i class='bx bxs-notepad'></i> Cronograma </a>
        </li>
        <% } %>
        </li class="navItem">
        <a style="margin-left:20px; font-size: 12px;" href="loginAut" class="btn btn-danger" type="button">Cerrar Sesion</a>
        <li>

        </li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </header>